<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>My site</title>
    </head>

    <body>
        {{> header}}
        <p>{{welcome}}</p>
        <p>
            This is home for me!
        </p>
        {{> footer}}
    </body>
</html>